<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Hi Guys, most of the people do not know what actually they are looking in this world. I am one of them, not having any goal, wandering in search of what really a person should do in this world until I started working on softwares. We do not have coding and softwares may be 200 years back, but we humans did something interesting at that time. Here in this era I found this software development interesting and I am making fun out of it. The most luckiest part is I am paid for doing so. 
</div>