<h1><span data-i18n="skills.my_skills">Welcome</span></h1>

<div>
    Hi, I am working for <a href="https://acquia.com" target="_blank">acquia</a> spending most of my day developing and debugging tools for
    DevOps team. My previous work was into developing APIs, coding Infrastructure and provisioning instances.

    <h4>Personal Work</h4>
    Most of my learnings include creating a sample repositories which you find at my <a href="https://github.com/vishnu-chegondi" target="_blank">Github Profile</a>.
    Currently my interest is moved to automating kubernetes environment and deployments using tools like ArgoCd, Vclusters.
</div>